.cart_container
{
    display: flex;
}

.flex_cart
{
    flex-wrap: nowrap;
}

.list
{
    flex: 70%;
    margin: 70px 30px 30px 145px;
}

.details
{
    flex: 30%;
    margin: 70px 145px 30px 30px;
}

.description_product
{
    font-family: 'Bebas Neue';
    color: #434343;
    font-weight: lighter;
    font-size: 2em;
    margin: 0;
}

.list_title
{
    font-family: 'Montserrat';
    text-decoration: none;
    color: #961A11;
    font-size: larger;
}

.price_item
{
    font-family: 'Montserrat';
    text-decoration: none;
    color: #961A11;
    font-size: larger;
    font-weight: bolder;
    margin: 0;
}

.color-fa:hover
{
    color: #E32619;
}

.flex_li_cart
{
    display: flex;
    padding: 20px 0 20px 0;
    border-bottom: solid 0.5px #C4C4C4;
}

.ul_cart
{
    list-style: none;
}

.div_title_flex
{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

.flex_li_cart_1
{
    flex: 40%;
}

.flex_li_cart_2
{
    flex: 60%;
}

.cart_description
{
    font-family: 'Montserrat';
    line-height: 30px;
    color: #434343;
}

.quantity_box
{
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.min_max
{
    width: 30px;
    height: 30px;
    font-weight: 700;
    border-radius: 0;
    border: 2px solid #434343;
    padding: 0;
    background: none;
    color: #434343;
}

.min_max:hover
{
    color: #961A11;
}

.quantity[type=number]
{
    width: 60px;
    height: 24px;
    font-size: 1rem;
    font-weight: 700;
    border-width: 2px 0 2px 0;
    text-align: center;
    background: none;
    border-color: #434343;
}

.quantity[type=number]::-webkit-inner-spin-button,
.quantity[type=number]::-webkit-outer-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}

.hr_cart
{
    height: 0.5px;
    color: #C4C4C4;
    background-color: #C4C4C4;
    margin: 0;
}