.header_contacto_position {
    margin-left: 145px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.subheader_contacto_position {
    margin-left: 145px;
    margin-right: 145px;
    font-family: 'Montserrat';
}

#map {
    height: 100%;
}

.map_container {
    width: 1200px;
    height: 581px;
    margin-left: 145px;
    margin-bottom: 100px;
}

.formulario_contacto {
    display: flex;
}

.flex_contacto {
    flex: 1;
    flex-wrap: nowrap;
    margin-bottom: 100px;
}

.flex1 {
    margin-left: 145px;
    margin-right: 30px;
}

.flex2 {
    margin-left: 30px;
    margin-right: 145px;
}

.contacto_form {
    display: flex;
    flex-direction: column;
}

.form_contact[type=text] {
    width: 100%;
    border: 1px solid #434343;
    background-color: #00000000;
    border-radius: 4px;
}

.form_consult[type=text] {
    width: 100%;
    height: 50px;
    border: 1px solid #434343;
    background-color: #00000000;
    border-radius: 4px;
}

.labelboxcontact {
    font-family: 'Montserrat';
    color: #434343;
    width: 100%;
    margin: 10px 0;
}

.parrafo_form_contc {
    font-family: 'Montserrat';
    color: #434343;
    font-weight: bold;
    margin: 10px 0;
    font-size: large;
}

.label_contact {
    margin: 10px 0;
    font-family: 'Montserrat';
    color: #434343;
    font-weight: bold;
}

.form_contact[type=submit] {
    width: fit-content;
    height: 30px;
    background-color: #F7F0F0;
    color: #C30E2F;
    border: 1px solid #C30E2F;
    cursor: pointer;
    font-family: 'Montserrat';
    border-radius: 5px;
}

.form_contact[type=submit]:hover
{
    transform: scale(1.15);
    background-color: #C30E2F;
    color: #F7F0F0;
    border: 1px solid #F7F0F0;
}

.parrafo_contc
{
    font-family: 'Montserrat';
}