.grid-footer
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #090C08;
    width: 100%;
}

.c_footer_1, .c_footer_2, .c_footer_3
{
    color: #F7F0F0;
    height: 200px;
}

.c_footer_1
{  
    text-align: left;
    margin: 60px;
}

.c_footer_2
{
    text-align: center;
    margin: 60px;
}

.c_footer_3
{
    text-align: right;
    margin: 60px;
}

hr
{
    height:2px;
    border-width:0;
    color: #F7F0F0;
    background-color:#F7F0F0;
}

.ul_footer
{
    list-style-type: none;
}

.footer_h
{
    font-family: 'Bebas Neue';
}

.footer_f
{
    display: flex;
}