.form1:focus {
  border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.form1[type=text],
select {
  width: 80%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #434343;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #00000000;
}

.form1[type=email],
select {
  width: 80%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #434343;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #00000000;
}

.form1[type=password],
select {
  width: 80%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #434343;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #00000000;
}

.form1[type=submit] {
  width: 80%;
  background-color: #961A11;
  color: #F7F0F0;
  padding: 14px 20px;
  margin: 10px 0;
  border-color: #961A11;
  border-radius: 56px;
  cursor: pointer;
  font-family: 'Montserrat';
  font-weight: bold;
}

.form1[type=file] {
  display: none;
}

.div1 {
  padding: 0 0 0 120px;
}

.div2 {
  padding: 0;
}

.label1 {
  text-align: left;
}

.label_sty {
  font-family: 'Montserrat';
  font-weight: bold;
  color: #434343;
  margin: 10px 0;
}

.label2_sty {
  color: #961A11;
  height: 30px;
  width: 50%;
  background-color: #F7F0F0;
  border: 0.5px solid #961A11;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.label2_sty:hover {
  color: #F7F0F0;
  background-color: #961A11;
  border: 0.5px solid #F7F0F0;

}

/* ----- -----  Estilos para Validacion ----- ----- */

.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .label_sty {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .form1 {
	border: 3px solid #bb2929;
}

/* ----- ----- ----- ----- */

.formulario__grupo {
  margin: 10px 0;
}

.formulario__input-error {
  font-size: 14px;
  margin-bottom: 0;
  display: none;
  font-family: 'Montserrat';
  color: #434343;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
  font-size: 16px;
  opacity: 0;
}

.formulario__mensaje-exito {
  font-family: 'Montserrat';
	font-size: 20px;
  width: fit-content;
  margin: 0 130px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

.formulario__mensaje {
	height: 45px;
  width: 75%;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	width: fit-content;
  margin: auto;
}

.a_sty {
  font-family: 'Montserrat';
  font-weight: bold;
  color: #434343;
  padding-left: 120px;
}

.form_sty {
  display: flex;
  flex-direction: column;
}

.labelbox {
  font-family: 'Montserrat';
  color: #434343;
  padding: 10px 0;
}

.img_form {
  width: 80%;
  height: 80%;
  margin: 40px 0;
  border: 1px solid #961A11;
  border-radius: 5px;
}

