.form1[type=text],
select {
  width: 80%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #434343;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #00000000;
}

.form1[type=password],
select {
  width: 80%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #434343;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #00000000;
}

.form1[type=submit] {
  width: 80%;
  background-color: #961A11;
  color: #F7F0F0;
  padding: 14px 20px;
  margin: 10px 0;
  border-color: #961A11;
  border-radius: 56px;
  cursor: pointer;
  font-family: 'Montserrat';
  font-weight: bold;
}

.form1[type=file]
{
  display: none;
}

.div1 {
  padding: 0 0 0 120px;
}

.div2 {
  padding: 0;
}

.label1 {
  text-align: left;
}

.label_sty
{
  font-family: 'Montserrat';
  font-weight: bold;
  color: #434343;
  margin: 10px 0;
}

.label2_sty
{
  color: #961A11;
  height: 30px;
  width: 50%;
  background-color: #F7F0F0;
  border: 0.5px solid #961A11;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.label2_sty:hover
{
  color: #F7F0F0;
  background-color: #961A11;
  border: 0.5px solid #F7F0F0;


}

.a_sty
{
  font-family: 'Montserrat';
  font-weight: bold;
  color: #434343;
  padding-left: 120px;
}

.form_sty
{
  display: flex;
  flex-direction: column;
}

.labelbox
{
  font-family: 'Montserrat';
  color: #434343;
  padding: 10px 0;
}

.img_form
{
  width: 80%;
  height: 80%;
  margin: 40px 0;
  border: 1px solid #961A11;
  border-radius: 5px;
}