body
{
    margin: 0;
    padding: 0;
    background-color: #F7F0F0;
}


.grid-layout
{
    display: grid;
    grid-template-columns: 420px auto;
    grid-template-rows: 74px 75px;
}


.form-control {
    background: #090C08;
    border-color: #F7F0F0;
    border-style: none none solid;
    font-family: 'montserrat';
    color: #F7F0F0;
    font-size: 12px;
    font-style: italic;
    height: 25px;
}

.c1
{
    grid-row: 1/3;
}

.c2
{
    height: 100%;
    list-style-type: none;
    background-color: #090C08;
    margin-block-start: 0;
}

.c3
{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    background-color: #F7F0F0;
    align-items: center;
    height: 100%;
    margin: 0 0;
}

.c3_horizontal
{
    position: absolute;
    list-style-type: none;
    display: none;
    justify-content: center;
    width: 350px;
    text-align: left;
    border-top: none;
    background-color: #090C08;
    opacity: 0.8;
    z-index: 1000;
    padding: 0;
}

.c3 li:hover .c3_horizontal
{
    display: block;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 8px;
    padding: 8px 0px 8px;
}

.c3 > li:hover
{
    background-color: #961A11;
}

.c3 li:hover > .a_nav
{
    color: #F7F0F0;
}


.a_horizontal
{
    color: #F7F0F0;
    text-decoration: none;
    padding: 8px 10px 8px;
}

.a_horizontal:hover
{
    border-left: 5px solid #961A11;
    background-color: #090C08;
}

li.input
{
    align-items: center;
}

li.rrss
{
    align-items: center;
}

.li_nav
{
    float: right;
    height: 100%;
    display: flex;
}

.tel , .mail
{
    display: flex;
    color: #F7F0F0;
    font-family: 'Montserrat';
    padding: 14px 16px;
    text-decoration: none;
    align-items: center;
}

.tel
{
    font-weight: bold;
}

.mail
{
    font-style: italic;
}

.a_nav
{
    display: flex;
    color: #109648;
    font-family: 'Montserrat';
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: medium;
    align-items: center;
    padding-top: 28px;
    padding-bottom: 28px;
    
}

.a_nav .fa-angle-down
{
    padding-left: 5px;
}

.img_rrss
{
    display: flex;
    width: 40px;
    height: 40px;
    padding: 2px;
}

.img_rrss:hover
{
    width: 50px;
    height: 50px;
}

/*.a_nav:hover
{
    background-color: #961A11;
    color: #F7F0F0;
}*/

.span_btn
{
    display: flex;
    align-items: center;
    width: 50px;
}